{% extends 'layout.html.twig' %}

{% block title %}Teamspeak Authentication - Verify Minecraft Account{% endblock %}

{% block content %}
    <div class="small-10 small-offset-1 columns">
        <div class="row">
            <h2>Verify your Minecraft Account</h2>
            <p>
                Connect to the server {{ serverAddress }} in Minecraft 1.7.6+
            </p>
            <p>
                You should then get a kicked with a code, enter both your username and code below (case sensitive).
            </p>
            <p>
                Also input the code you received from teamspeak before into the final box.
            </p>
            <hr>

            <div class="error_area">

            </div>

            <div class="row collapse">
                <div class="small-6 columns">
                    <input type="text" class="form-control" id="mc_name" placeholder="Minecraft Nickname" autofocus/>
                </div>
                <div class="small-6 columns">
                    <input type="text" class="form-control" id="mc_code" placeholder="Minecraft Code"/>
                </div>
            </div>
            <div class="row">
                <input type="text" class="form-control" id="ts_code" placeholder="Teamspeak Code"/>
            </div>
            <input type="hidden" id="ts_uuid" value="{{ ts_uuid }}"/>
            <a class="button [radius round]" id="verify_codes" role="button">Verify Code</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $(document).keypress(function(e){
                if (e.which == 13){
                    $("#verify_codes").click();
                }
            });
            $('#verify_codes').click(function(e){
                $('.error_area').empty();
                e.preventDefault();
                $.get(
                    "{{ path('authcheck') }}",
                    {
                        'ts_uuid':$('#ts_uuid').val(),
                        'ts_code':$('#ts_code').val(),
                        'mc_uuid':$('#mc_name').val(),
                        'mc_code':$('#mc_code').val()
                    }
                ).done(function(data) {
                    window.location = '{{ path('complete') }}/' + $('#mc_name').val();
                }).fail(function(xhr) {
                    var error = 'Unknown Error';
                    if(typeof xhr.responseJSON === 'undefined'){
                        error = 'Unexpected response from server'
                    } else {
                        error = xhr.responseJSON.error
                    }
                    $('.error_area').append('<div data-alert class="alert-box alert round">' + error + '</div>');
                });
            });
        });
    </script>
{% endblock %}
