!!!
%html
  %head
    %title
      - block page_title
        #{siteName}
    - block stylesheets
      %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{asset('css/TeamspeakAuth.min.css', 'vendor')}"}
      %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{asset('css/style.css')}"}
  %body{"ng-app"=>"teamspeakAuthApp"}
    .site-header.text-center
      %img{:src=>"#{asset('images/servericon.png')}", :alt=>"Server Icon"}
      %h1 #{siteName}
    .row.outer-wrapper
      .small-10.small-offset-1.columns
        .row.page-wrapper.text-center
          %section.main-section
            - block content
              Missing Content!
          .copyright-footer
            &copy;Eluinhost 2014.
            %a{:href=>"https://github.com/Eluinhost/TeamspeakAuth"}
              %em Source Code
    %script#teamspeakrequest.html.haml{:type=>"text/ng-template"}
      - include "teamspeakrequest.html.haml"

- block javascripts
  %script{:src=>"#{asset('js/TeamspeakAuth.min.js', 'vendor')}"}
  %script{:src=>"#{asset('js/services.js')}"}
  %script{:src=>"#{asset('js/controllers.js')}"}
  %script{:src=>"#{asset('js/app.js')}"}