!!!
%html
  %head
    %title
      - block page_title
        #{siteName}
    - block stylesheets
      %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{asset('css/TeamspeakAuth.min.css', 'vendor')}"}
      %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{asset('css/style.css')}"}
  %body{"ng-app"=>"teamspeakAuthApp"}
    .site-header.text-center
      %img{:src=>"#{asset('images/servericon.png')}", :alt=>"Server Icon"}
      %h1 #{siteName}
    .row.outer-wrapper
      .small-10.small-offset-1.columns
        .row.page-wrapper.text-center
          .off-canvas-wrap{"data-offcanvas"=>"true"}
            .inner-wrap
              %section.main-section
                - block content
                  Missing Content!
              .latest-footer
                %a.left-off-canvas-toggle{:href=>"#"} Latest Authentications
              .copyright-footer
                &copy;Eluinhost 2014.
                %a{:href=>"https://github.com/Eluinhost/TeamspeakAuth"}
                  %em Source Code
              %aside.left-off-canvas-menu{"ng-controller"=>"LatestAuthsCtrl"}
                %ul.off-canvas-list
                  %span{"ng-repeat"=>"auth in latest"}
                    %li
                      %label
                        %div {{ auth.ts_name }}
                    %li.minecraft-name
                      %img.minecraft-image{"ng-src"=>"{{ auth.image_url }}"}
                      {{ auth.mc_name }}
              %a.exit-off-canvas /

- block javascripts
  %script{:src=>"#{asset('js/TeamspeakAuth.min.js', 'vendor')}"}
  %script{:src=>"#{asset('js/services.js')}"}
  %script{:src=>"#{asset('js/controllers.js')}"}
  %script{:src=>"#{asset('js/app.js')}"}