!!!
%html
  %head
    %title
      - block page_title
        #{siteName}
    - block stylesheets
      %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{asset('css/TeamspeakAuth.min.css', 'vendor')}"}
      %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{asset('css/style.css')}"}
  %body
    .site-header.text-center
      %img{:src=>"#{asset('images/servericon.png')}", :alt=>"Server Icon"}
      %h1 #{siteName}
    .row.outer-wrapper
      .small-10.small-offset-1.columns
        .row.page-wrapper.text-center
          .off-canvas-wrap{"data-offcanvas"=>"true"}
            .inner-wrap
              %section.main-section
                - block content
                  Missing Content!
              .latest-footer
                %a.left-off-canvas-toggle{:href=>"#"} Latest Authentications
              .copyright-footer
                &copy;Eluinhost 2014.
                %a{:href=>"https://github.com/Eluinhost/TeamspeakAuth"}
                  %em Source Code
              %aside.left-off-canvas-menu
                %ul.off-canvas-list /
              %a.exit-off-canvas /

- block javascripts
  %script{:src=>"#{asset('js/TeamspeakAuth.min.js', 'vendor')}"}
  :javascript
    $(document).ready(function() {
        $(document).foundation('alert');
        $(document).foundation('offcanvas');
    });
    $('.left-off-canvas-toggle').on('click', function() {
        var list = $('.off-canvas-list');
        list.empty();
        list.append('<li><label>Loading...</label></li>');
        $.get('#{path('latestauths')}', function(data) {
            list.empty();
            $.each(data, function(index, element) {
                var label = $('<div/>').text(element.ts_name).html();
                var name = '<img src="' + element.image_url + '" class="minecraft-image"/> ' + element.mc_name;
                list.append('<li><label>' + label + '</label></li><li class="minecraft-name">' + name + '</li>');
            });
        });
    });