!!!
%html
  %head
    %title
      - block page_title
        #{site_name}
    - block stylesheets
      %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{asset('vendor/css/TeamspeakAuth.min.css')}"}
      %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{asset('css/style.css')}"}
  %body{"ng-app"=>"teamspeakAuthApp"}
    .site-header.text-center
      %a{"ui-sref"=>"index"}
        %img{:src=>"#{asset('images/servericon.png')}", :alt=>"Server Icon"}
        %h1 #{site_name}
    .row.outer-wrapper
      .small-10.small-offset-1.columns
        .row.page-wrapper.text-center
          %section.main-section
            - block content
              %div{"ui-view"=>true}
                Loading...
          .small-12.columns.copyright-footer.text-right
            %i.fa.fa-github
            %a{:href=>"https://github.com/Eluinhost/TeamspeakAuth"} Source
            %i.fa.fa-bug
            %a{:href=>"#{path('nelmio_api_doc_index')}"} API
            %i.fa.fa-twitter
            %a{:href=>"https://twitter.com/Eluinhost"} Twitter
            %small &copy;Eluinhost 2014

- block javascripts
  %script{:src=>"#{asset('vendor/js/TeamspeakAuth.min.js')}"}
  %script{:src=>"#{asset('bundles/fosjsrouting/js/router.js')}"}
  %script{:src=>"#{path('fos_js_routing_js', {'callback': 'fos.Router.setData'})}"}
  %script{:src=>"#{asset('bundles/cypressangularngrouting/ng-router.js')}"}
  %script{:src=>"#{path('fos_js_routing_js', {'callback': 'cypress.NgRouter.setData'})}"}
  %script{:src=>"#{asset('js/app.js')}"}